@import 'variables';
@import 'mixin';

//draw - swipableDraw
.MuiPaper-root.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
  right: 0;
  background:$peachy_pink;
  border-radius: 0 40px 40px 0;
}


.modal {
  background:#fff;

  &--pos {
    &-center {
      position:absolute;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);      
    }
  }
}