@import 'variables';
@import 'mixin';

.link-lists {
    padding:0;
    &__li {
        list-style: none;
        border-bottom: 1px solid #eee;
        padding: 0;
    }

    &__link {
        display:block;
        color:#434343;
        @include vw("font-size", 28);
        @include vw("padding", 20);
        text-decoration: none;
    }
}