@import 'variables';
@import 'mixin';

.side-menu {
    &--side {
        &-left {
            display:flex;
            height: 100%;
        }
    }

    &__side-account-menu {
        position: relative;
        background:#fff;
        @include vw("width", 220);
        @include vw("border-radius", (0 48 48 0));
        box-sizing: border-box;
        @include vw("padding", (158 48 36 48));
        &--active {
            @include vw("width", 500);
        }
    }
    
    &__side-club {
        @include vw("width", 220);
        @include vw("border-radius", (0 48 48 0));
        background:$peachy_pink;
        &--active {
            @include vw("width", 500);
        }
    }
}


.ico-btns {
    display:flex;
    justify-content: flex-end;

    &--pos {
        &-top-right {
            position: absolute;
            @include vw("top", 48);
            @include vw("right", 48);
        }
    }
    
    &__btn {
        background:none;
        border:none;
    }
    
    &__btn-img {
        @include vw("width", 48);
        @include vw("height", 48);
    }
}

.user-info {
    &--mg {
        &-bot {
            @include vw("margin-bottom", 40);
        }
    }
    &__profile {
        display:block;
        @include vw("width", 180);
        @include vw("height", 180);
        &--pd {
            &-bot {
                @include vw("padding-bottom", 36);
            }
        }
    }
    &__intro {
        vertical-align:top;
    }
    &__title {
        @include vw("font-size", 50);
        @include vw("margin", (0 0 10 0));
        display:flex;
        padding: 0;
        align-items: flex-end;
    }
    &__nickname {
        color:#000;
        margin: 0;
        @include vw("padding", (0 16 0 0));
    }
    
    &__btn {
        font-weight:400;
        border:none;
        @include vw("border-radius", 24);
        @include vw("padding", (0 23));
        @include vw("line-height", 40);
        @include vw("font-size", 24);
        background:#ff8d8a;
        color:#fff;
    }
    &__email {
        @include vw("font-size", 24);
        font-weight:100;
        color:#b8b8b8;
    }

}


