@import 'variables';
@import 'mixin';

.side-menu {
    &--side {
        &-left {
            display:flex;
            height: 100%;
        }
    }

    &__side-account-menu {
        background:#fff;
        width:220/720*100%;
        border-radius: 0 40px 40px 0;
        &--active {
            width:500/720*100%;
        }
    }
    
    &__side-btn-wrap {
        display:flex;
        justify-content: flex-end;
        &--pd {
            padding:26px 24px;
        }
    }
    
    &__side-btn {
        background:none;
        border:none;
    }

    &__side-btn-img {
        width:24px;
        height:24px;
    }



    &__side-club {
        width:220/720*100%;
        border-radius: 0 40px 40px 0;
        background:$peachy_pink;
        &--active {
            width:500/720*100%;
        }
    }
}